*.sln.cache
*.csproj.user
*.userprefs
*.suo
*.scc
web*.config
*-dev.sln
_Resharper.*/
packages/
bin/
obj/
lib/Builds
*detail-log*.txt*
TestResult.xml
*.VisualState.xml
log4net.txt
/TestResults/
*.sln.DotSettings.user
*.ps1
*.mdf
*.ldf
*/packages/
storage.ide
.vs/
*.bak
